form {
  .form-group {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

    label {
      color: #777;
      display: block;
      margin-bottom: 5px;
    }

    input {
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 10px;
      font-size: 14px;

      &:focus {
        outline: 0;
        border-color: #777;
      }
    }
  }

  .is-invalid {
    border: 1px solid #e74c3c !important;
  }
  small {
    color: #e74c3c;
  }
}
